/**
 * (c) Sergii Shelestiuk, 2016
 */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fbe7c5;
}

.form-wrapper {
    margin-top: 45px;
}

.search-form {
    margin: 20px;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer-wrapper {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    /*position: fixed;*/
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.footer {
    font-size: 90%;
    /* background: none repeat scroll 0 0 blue; */
    height: 40px;
    margin: auto;
    width: 400px;
}

.btn-search {
    color: #fff;
    background-color: #f7c27b;
    border-color: #f6a944;
    font-weight: bold;
}
.btn-search:focus,
.btn-search.focus,
.btn-search:hover,
.btn-search:active,
.btn-search.active {
    color: #fff;
    background-color: #f6aa54;
    border-color: #f67216;
}
.btn-search:active:hover,
.btn-search.active:hover,
.btn-search.disabled:hover,
.btn-search[disabled]:hover,
fieldset[disabled] .btn-search:hover,
.btn-search.disabled:focus,
.btn-search[disabled]:focus,
fieldset[disabled] .btn-search:focus,
.btn-search.disabled.focus,
.btn-search[disabled].focus,
fieldset[disabled] .btn-search.focus {
    background-color: #f6a944;
    border-color: #f6a944;
}

.input-group-addon-search {
    /* color: #f67216; */
    background-color: #f9d29b;
    border-color: #f6aa54;

}
